#party-index {
  form {
    margin-top: 15px;
  }
  h3 {
    margin-bottom: 30px;
  }
  // i'm totally opening to changing styles
  .party-container {
    border: 1px solid #696969;
    border-radius: 6px;
    padding: 10px;
    background-color: #983B5A;
    margin-bottom: 10px;
  }
}
